/* Estilos css para la página web */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(250, 219, 135);
  margin: 0;
}

.container {
  width: 1000px; /* Ancho fijo para simular un monitor antiguo */
  height: 650px; /* Alto fijo para simular un monitor antiguo */
  background-color: white;
  margin: 0 auto;
  border: 1px solid black;
}

.form {
  width: 400px; /* Ancho fijo para el formulario */
  margin: 20px auto; /* Centrar el formulario */
  border: 1px solid black; /* Borde negro para el formulario */
  padding: 20px;
}

.form h2 {
  margin-top: 0;
  text-align: center; /* Centrar el título */
}

.form p {
  margin-bottom: 10px;
}

.form label {
  display: block; /* Mostrar cada etiqueta en una línea */
}

.form input {
  width: 100%; /* Ocupar todo el ancho del formulario */
  border: 1px solid black; /* Borde negro para los campos de entrada */
}

.form button {
  width: 100%; /* Ocupar todo el ancho del formulario */
  border: none; /* Sin borde para el botón */
  background-color: #ff9900; /* Color naranja para el botón */
}
.logo img {
  width: 250px;
}
.logo {
  margin-top: 15px;
  text-align: center;
}
