body {
  background-image: url("/static/images/monitor.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Cambiado a 100vh para ocupar toda la altura de la ventana */
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 750px;
  max-height: 750px;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  background-color: rgba(
    226,
    204,
    159,
    0.7
  ); /* Cambiado a un color con transparencia */
  color: #333;
  font-family: "Verdana", sans-serif;
  border-radius: 150px;
  margin-top: 5vh; /* Agregado margen superior para centrar verticalmente */
}

.logo {
  margin-top: 15px;
}

.logo img {
  width: 250px;
}

.form {
  width: 600px;
  margin: 15px auto;
  padding: 15px;
  /* Cambiado a un color con transparencia */
  color: #333;
  text-align: center;
  font-family: "Verdana", sans-serif;
}

.form h2 {
  margin-top: 0;
}

.form p {
  margin-bottom: 10px;
}

.form label {
  display: block;
  font-family: "Verdana", sans-serif;
  padding: 2px;
}

/* Estilo ovalado para los campos de entrada */
.form input[type="text"],
.form select,
.form input[type="password"],
.form input[type="date"] {
  width: 75%;
  border: none;
  background-color: rgba(235, 208, 152, 0.7);
  padding: 10px;
  margin-bottom: 20px;
  font-family: "Verdana", sans-serif;
  border-radius: 500px; /* Valor alto para hacerlos ovalados */
}

/* Estilo circular para el botón */
.form button {
  width: 100px; /* Ancho fijo para hacerlo circular */
  height: 100px; /* Altura fija para hacerlo circular */
  border: none;
  background-color: #ff9900;
  color: #fff;
  font-size: 18px;
  border-radius: 50%; /* Hace el botón circular */
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Verdana", sans-serif;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Cambio de color al acercarse y agrandamiento del botón */
.form button:hover {
  background-color: #ff6600;
  transform: scale(1.05);
}

/* Estilo para agrupar los campos en una sola línea */
.form .form-group {
  display: inline-block;
  margin-right: 10px; /* Espacio entre los campos */
  vertical-align: top; /* Alineación superior para mantenerlos en línea */
}
