html {
  filter: blur(0.7px);
}

body {
  background-image: url("/static/images/paws.jpeg");
  background-size: 30%;

  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  background-color: white;
  width: 1000px; /* Ancho fijo para simular un monitor antiguo */
  margin: 0 auto;
}

.banner {
  height: 130px;
  background-color: #5b86ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.menu li {
  width: 142px;
  text-align: center;
  padding-top: 12px;
  justify-content: space-between;
}

.menu {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 5px;
  height: 45px;

  background-image: url(/static/images/items.png);
  background-size: 100% 100%;
}

.menu a {
  /* aqui se colocaran los estilos de los elementos de la barra superior*/
  display: block;
  line-height: 40px; /* Esta línea centra el texto verticalmente */
  text-align: center; /* Esta línea centra el texto horizontalmente */
}

.content {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #dba50e;
  padding: 10px;
}

.sidebar h3 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.main {
  width: 600px;
  padding: 10px;
  background-image: url("/static/images/pawstra.png");
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Cambia el valor de la opacidad (0.5 en este ejemplo) */
  background-size: 40%;
}

.main2 {
  width: 200px;
}

.main h2 {
  margin-top: 0;
}

.main p {
  text-align: justify;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.item img {
  width: 200px;
  height: 200px; /* Imágenes cuadradas */
  border: 1px solid black; /* Borde negro para las imágenes */
}

.item-info {
  margin-left: 20px;
}

.item-info h3 {
  margin-top: 0;
}

.item-info p {
  margin-bottom: 10px;
}

.footer {
  height: 50px;
  background-color: #aaaaaa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightbar {
  width: 200px;
  background-color: #dba50e;
  padding: 10px;
}

.rightbar h3 {
  margin-top: 0;
}

.rightbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rightbar li {
  margin-bottom: 10px;
}
/* Agrega estos estilos al final de tu archivo CSS */

/* Estilos para la sección de mascotas perdidas */
.mascota-container {
  text-align: center;
  background-color: #edd371;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para el cuadro de la mascota */
.mascota {
  align-items: center;
}

/* Estilos para la imagen de la mascota */
#imagen-mascota {
  max-width: 100%;
  height: auto;
  border: 2px solid #5b86ff;
  border-radius: 10px;
  margin-bottom: 10px;
}

.container2 {
  width: 40%;
  width: 600px;
  border: 10px solid rgb(84, 92, 119);
  text-align: center;
  padding: 5px;
  background-color: rgba(
    236,
    194,
    7,
    0.92
  ); /* Cambiado a un color con transparencia */
  color: #333;
  font-family: "Verdana", sans-serif;
  border-radius: 150px;
  margin-top: 5vh; /* Agregado margen superior para centrar verticalmente */
}

/* Estilos para el botón "Siguiente" */
#siguiente {
  background-color: #5b86ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.2s;
}

#siguiente:hover {
  transform: scale(1.1);
}

.logo img {
  width: 220px;
}

.form {
  /* Cambiado a un color con transparencia */
  color: #333;
  text-align: center;
  font-family: "Verdana", sans-serif;
}

.form h2 {
  margin-top: 0;
}

.form p {
  margin-bottom: 10px;
}

.form label {
  display: block;
  font-family: "Verdana", sans-serif;
  padding: 2px;
}

/* Estilo ovalado para los campos de entrada */
.form input[type="text"],
.form input[type="file"],
.form textarea,
.form select,
.form input[type="password"],
.form input[type="date"] {
  width: 75%;
  border: none;
  background-color: rgba(230, 194, 147, 0.841);
  padding: 10px;
  margin-bottom: 20px;
  font-family: "Verdana", sans-serif;
  border-radius: 500px; /* Valor alto para hacerlos ovalados */
}
/* Estilo circular para el botón */
.form button {
  width: 150px; /* Ancho deseado */
  height: 70px; /* Altura deseada */
  background-color: #5b86ff;
  color: rgb(43, 15, 15);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.2s;
  background-image: url(/static/images/items.png);
  background-size: 100% 100%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Cambio de color al acercarse y agrandamiento del botón */
.form button:hover {
  background-color: #ff6600;
  transform: scale(1.05);
}

/* Estilo para agrupar los campos en una sola línea */
.form .form-group {
  display: inline-block;
  margin-right: 10px; /* Espacio entre los campos */
  vertical-align: top; /* Alineación superior para mantenerlos en línea */
}
