html {
  filter: blur(0.7px);
}

body {
  background-image: url("/static/images/paws.jpeg");
  background-size: 30%;

  font-family: "Comic Sans MS", cursive, sans-serif; /* Fuente vintage */
  margin: 0;
}

.container {
  background-color: white;
  width: 1000px; /* Ancho fijo para simular un monitor antiguo */
  margin: 0 auto;
}

/* Del banner inicio */

.logo img {
  width: 220px;
}

.banner {
  height: 130px;
  background-color: #5b86ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.menu li {
  width: 142px;
  text-align: center;
  padding-top: 12px;
  justify-content: space-between;
}

.menu {
  font-family: "Comic Sans MS", cursive, sans-serif; /* Fuente vintage */
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 5px;
  height: 45px;
  background-image: url(/static/images/items.png);
  background-size: 100% 100%;
}

.menu a {
  display: block;
  line-height: 40px; /* Esta línea centra el texto verticalmente */
  text-align: center; /* Esta línea centra el texto horizontalmente */
}

/* Del banner fin */

/* De los sidebars inicio */

.sidebar {
  width: 200px;
  background-color: #dba50e;
  padding: 10px;
}

.sidebar h3 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.rightbar {
  width: 200px;
  background-color: #dba50e;
  padding: 10px;
}

.rightbar h3 {
  margin-top: 0;
}

.rightbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rightbar li {
  margin-bottom: 10px;
}

/* De los sidebars fin */

.content {
  display: flex;
}

/* Del elemento central del content inicio */

.main {
  width: 600px;
  padding: 10px;
  background-image: url("/static/images/pawstra.png");
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Cambia el valor de la opacidad (0.5 en este ejemplo) */
  background-size: 40%;
}

.main h2 {
  margin-top: 0;
}

.main p {
  text-align: justify;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.item img {
  width: 200px;
  height: 200px; /* Imágenes cuadradas */
  border: 1px solid black; /* Borde negro para las imágenes */
}

.item-info {
  margin-left: 20px;
}

.item-info h3 {
  margin-top: 0;
}

.item-info p {
  margin-bottom: 10px;
}

/* Del elemento central del content fin */

/* De la sección de mascotas perdidas inicio */

.mascota-container {
  text-align: center;
  background-color: #edd371;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.mascota {
  align-items: center;
}

#imagen-mascota {
  max-width: 100%;
  height: auto;
  border: 2px solid #5b86ff;
  border-radius: 10px;
  margin-bottom: 10px;
}

#siguiente {
  background-color: #5b86ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.2s;
}

#siguiente:hover {
  transform: scale(1.1);
}

/* De la sección de mascotas perdidas fin */

/* De los forms inicio */

form {
  /* Cambiado a un color pastel con transparencia */
  color: #333;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif; /* Fuente vintage */
  background-color: rgba(255, 255, 204, 0.8); /* Color de fondo pastel */
  box-shadow: inset -5px -5px rgba(0, 0, 0, 0.2); /* Sombra interna */
  border-radius: 20px; /* Bordes redondeados */
}

.form h2 {
  margin-top: 0;
  font-size: 36px; /* Tamaño de fuente grande */
}

.form p {
  margin-bottom: 10px;
}

.form label {
  display: block;
  font-family: "Comic Sans MS", cursive, sans-serif; /* Fuente vintage */
  padding: 2px;
}

/* Estilo ovalado para los campos de entrada */
.form input[type="text"],
.form input[type="file"],
.form textarea,
.form select,
.form input[type="password"],
.form input[type="date"] {
  width: 75%;
  border: none;
  background-color: rgba(230, 194, 147, 0.841); /* Color de fondo pastel */
  padding: 10px;
  margin-bottom: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif; /* Fuente vintage */
  border-radius: 500px; /* Valor alto para hacerlos ovalados */
}
/* Estilo circular para el botón */
.form button {
  width: 150px; /* Ancho deseado */
  height: 70px; /* Altura deseada */
  margin-top: 20px;
  text-align: center;
  color: rgb(43, 15, 15);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.2s;
  background-image: url(/static/images/items.png);
  background-size: 100% 100%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Cambio de color al acercarse y agrandamiento del botón */
.form button:hover {
  background-color: #ff6600;
  transform: scale(1.05);
}

/* Estilo para agrupar los campos en una sola línea */
.form .form-group {
  display: inline-block;
  margin-right: 10px; /* Espacio entre los campos */
  vertical-align: top; /* Alineación superior para mantenerlos en línea */
}

/* Estilo para los campos válidos */
.form input[type="text"]:valid,
.form input[type="file"]:valid,
.form textarea:valid,
.form select:valid,
.form input[type="password"]:valid,
.form input[type="date"]:valid {
  border: solid green; /* Borde verde */
}

/* Estilo para los campos inválidos o requeridos */
.form input[type="text"]:invalid,
.form input[type="file"]:invalid,
.form textarea:invalid,
.form select:invalid,
.form input[type="password"]:invalid,
.form input[type="date"]:invalid,
.form input[type="text"]:required,
.form input[type="file"]:required,
.form textarea:required,
.form select:required,
.form input[type="password"]:required,
.form input[type="date"]:required {
  border: solid red; /* Borde rojo */
}

/* Estilo para el campo con foco */
.form input[type="text"]:focus,
.form input[type="file"]:focus,
.form textarea:focus,
.form select:focus,
.form input[type="password"]:focus,
.form input[type="date"]:focus {
  outline-color: blue; /* Resaltado azul */
}

/* De los forms fin */

.footer {
  height: 50px;
  background-color: #aaaaaa;
  display: flex;
  align-items: center;
  justify-content: center;
}
