<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/images/ipaw.ico" />
    <!-- importamos los estilos y funciones js-->
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script src="static/js/scripts.js"></script>
    <title>iPaw.net</title>
  </head>
  <html>
    <body class="zoom-out">
      <div class="container">
        
        <div class="banner">
          <div class="logo">
            <!-- aqui colocaremos una imagen -->
            <img src="/static/images/ipawv2.png" />
          </div>
          <ul class="menu">
            <li onclick="redirigirreserva()" >Reservar servicio</li>
            <li onclick="redirigirregistro_m_perdidas()" >Reportar mascota perdida</li>
            <li onclick="redirigirregistro()">¡Registrarse!</li>
            <li onclick="redirigirmascota()">Registrar mascota</li>
          </ul>
        </div>
        <div class="content">
          <div class="sidebar">
            <h3>Bienvenido a iPaw</h3>
            <p>
              iPaw es la página web donde puedes comprar y vender todo lo
              relacionado con las mascotas. Aquí encontrarás desde alimentos y
              accesorios hasta servicios de veterinaria y adopción. ¡Únete a
              nuestra comunidad de amantes de los animales!
            </p>
            <img src="/static/images/perrito.png" alt="Perro" width="100%" />
            <h3>Categorías</h3>
            <ul>
              <li><a href="#">Perros</a></li>
              <li><a href="#">Gatos</a></li>
              <li><a href="#">Aves</a></li>
              <li><a href="#">Reptiles</a></li>
              <li><a href="#">Roedores</a></li>
              <li><a href="#">Peces</a></li>
              <li><a href="#">Otros</a></li>
            </ul>
            <img
              src="/static/images/animalitos.jpeg"
              alt="animls"
              width="100%"
            />
          </div>
          <div class="main">
            <div class="mascota-container">
              <div class="mascota">
                  <img id="imagen-mascota" src="" alt="Mascota Perdida" />
                  <div class="mascota-info">
                      <h3 id="nombre">Nombre de la Mascota</h3>
                      <p id="descripcion">Descripción de la Mascota</p>
                      <p>Reportado por: <span id="usuario">Nombre de Usuario</span></p>
                  </div>
              </div>
              <button id="siguiente" onclick="avanzarMascota()">Siguiente</button>
          </div>

            <!-- Fin del código para mostrar las mascotas perdidas -->
            <h2>Artículos destacados</h2>
            <p>
              Estos son algunos de los artículos más populares que puedes
              encontrar en iPaw. Haz clic en el título o la imagen para ver más
              detalles.
            </p>
            <div class="item">
              <img src="/static/images/collar.webp" alt="Perro" />
              <!-- Puedes cambiar el nombre y la ruta de la imagen -->
              <div class="item-info">
                <h3>Collar personalizado para perro</h3>
                <p>
                  Este collar es ideal para tu perro, ya que tiene su nombre
                  grabado en una placa de metal. El collar es de cuero y tiene
                  un cierre de hebilla. Puedes elegir el color y el tamaño que
                  más te guste.
                </p>
                <p>Precio: $10</p>
              </div>
            </div>
            <div class="item">
              <img src="/static/images/rasc.jpeg" alt="Gato" />
              <!-- Puedes cambiar el nombre y la ruta de la imagen -->
              <div class="item-info">
                <h3>Rascador para gato</h3>
                <p>
                  Este rascador es perfecto para tu gato, ya que le permite
                  afilar sus uñas y estirar sus músculos. El rascador tiene una
                  base de madera y una columna de sisal. También tiene una bola
                  colgante para que tu gato se divierta.
                </p>
                <p>Precio: $15</p>
              </div>
            </div>
            <div class="item">
              <img src="/static/images/jau.jpeg" alt="Pájaro" />
              <!-- Puedes cambiar el nombre y la ruta de la imagen -->
              <div class="item-info">
                <h3>Jaula para pájaro</h3>
                <p>
                  Esta jaula es ideal para tu pájaro, ya que tiene un diseño
                  espacioso y cómodo. La jaula tiene una bandeja extraíble para
                  facilitar la limpieza y una puerta con cierre de seguridad.
                  Incluye dos perchas y dos comederos.
                </p>
                <p>Precio: $20</p>
              </div>
            </div>
          </div>
          <div class="rightbar">
            <h3>Más información</h3>
            <ul>
              <li><a href="#">Sobre nosotros</a></li>
              <li><a href="#">Política de privacidad</a></li>
              <li><a href="#">Términos y condiciones</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
            <h3>Anuncios</h3>
            <ul>
              <li><a href="#">Promoción especial para nuevos usuarios</a></li>
              <li><a href="#">Descubre las mejores ofertas de iPaw</a></li>
              <li><a href="#">Participa en nuestro sorteo mensual</a></li>
              <li><a href="#">Síguenos en nuestras redes sociales</a></li>
            </ul>
            <h3>Novedades</h3>
            <ul>
              <li><a href="#">iPaw lanza su nueva app móvil</a></li>
              <li>
                <a href="#">iPaw se asocia con la fundación Adopta un Amigo</a>
              </li>
              <li><a href="#">iPaw celebra su primer aniversario</a></li>
              <li>
                <a href="#"
                  >iPaw recibe el premio a la mejor página web de mascotas</a
                >
              </li>
            </ul>
            <h3>Nuestros sponsors:</h3>
            <img
              src="/static/images/sponsor1.gif"
              alt="Sponsor 1"
              width="100%"
            />
            <img
              src="/static/images/sponsor2.gif"
              alt="Sponsor 2"
              width="100%"
            />
            <img
              src="/static/images/sponsor3.gif"
              alt="Sponsor 3"
              width="100%"
            />
          </div>
        </div>
        <div class="footer">
          <p>© 2000 iPaw. Todos los derechos reservados.</p>
        </div>
      </div>
      <script>
        const mascotasPerdidas = [];

        let indiceMascotaActual = 0;

        function mostrarMascota() {
            const mascotaActual = mascotasPerdidas[indiceMascotaActual];
            document.getElementById("imagen-mascota").src = mascotaActual.image;
            document.getElementById("nombre").textContent = mascotaActual.nombre;
            document.getElementById("descripcion").textContent = mascotaActual.descripcion;
            document.getElementById("usuario").textContent = mascotaActual.dni_usuario;
        }

        function avanzarMascota() {
            indiceMascotaActual++;
            if (indiceMascotaActual >= mascotasPerdidas.length) {
                indiceMascotaActual = 0; // Vuelve al principio si llegamos al final
            }
            mostrarMascota();
        }

        mostrarMascota(); // Mostrar la primera mascota al cargar la página

        document.getElementById("siguiente").addEventListener("click", avanzarMascota);
    </script>
    </body>
  </html>
</html>
