<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/images/ipaw.ico" />

    <link rel="stylesheet" href="/static/css/login.css" />
    <script src="static/js/logscripts.js"></script>
    <title>Login iPaw</title>
  </head>
  <!-- Este es el archivo login.html -->
  <body>
    <div class="container">
      <div class="logo">
        <!-- aqui colocaremos una imagen -->
        <img src="/static/images/ipawv2.png" />
      </div>
      <div class="form">
        <h2>Iniciar sesión</h2>
        <p>Ingresa tu DNI y contraseña para acceder a tu cuenta en iPaw.</p>
        <form action="#" method="post" id="loginForm">
          <p><label for="dni">DNI:</label></p>
          <p><input type="text" id="dni" name="dni" required /></p>
          <p><label for="contrasenia">Contraseña:</label></p>
          <p>
            <input
              type="password"
              id="contrasenia"
              name="contrasenia"
              required
            />
          </p>
          <p><button type="submit" id="send">Iniciar sesión</button></p>
        </form>
      </div>

      <div class="footer">
        <p>© 2023 iPaw. Todos los derechos reservados.</p>
      </div>
    </div>
  </body>
</html>
