<!-- Este es el archivo registro.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/images/ipaw.ico" />

    <!-- importamos los estilos y funciones js-->
    <link rel="stylesheet" href="/static/css/mascota.css" />
    <script src="/static/js/mascota.js"></script>
    <title>Registro iPaw</title>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <!-- aqui colocaremos una imagen -->
        <img src="/static/images/ipawv2.png" />
      </div>
      <div class="form">
        <h2>Registrarse</h2>
        <p>Completa el siguiente formulario para resgistrar a tu mascota.</p>
        <form id="mascotForm" method="post" action="#">
          <div>
            <label for="nombre">Nombre:</label>
            <input
              type="text"
              id="nombre"
              name="nombre"
              required
              minlength="3"
            />
          </div>
          <div>
            <label for="apellido">Raza:</label>
            <input
              type="text"
              id="apellido"
              name="apellido"
              required
              minlength="3"
            />
          </div>
          <div>
            <label for="animal">Especie:</label>
            <input
              type="text"
              id="animal"
              name="animal"
              required
              minlength="8"
            />
          </div>
          <div>
            <label for="dni">DNI del dueño:</label>
            <input
              type="text"
              id="dni"
              name="dni"
              required
              minlength="8"
              maxlength="8"
            />
          </div>
        </form>
        <button id="send" type="submit" form="mascotForm">Enviar</button>
      </div>
      <div class="footer">
        <p>© 2023 iPaw. Todos los derechos reservados.</p>
      </div>
    </div>
  </body>
</html>
