<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/images/ipaw.ico" />
    <!-- importamos los estilos y funciones js-->
    <link rel="stylesheet" href="/static/css/perros.css" />
    <script src="static/js/perros.js"></script>
    <title>iPaw.net</title>
  </head>
  <html>
    <body>
      <div class="container">
        <div class="banner">
          <div class="logo">
            <!-- aqui colocaremos una imagen -->
            <img src="/static/images/ipawv2.png" />
          </div>
          <ul class="menu">
            <li onclick="redirigirinicio()">Inicio</li>
            <li onclick="redirigirreserva()">Reservar servicio</li>
            <li onclick="redirigirregistro_m_perdidas()">
              Reportar mascota perdida
            </li>
            <li onclick="redirigirregistro()">¡Registrarse!</li>
            <li onclick="redirigirmascota()">Registrar mascota</li>
          </ul>
        </div>
        <div class="content">
          <div class="sidebar">
            <h3>Bienvenido a iPaw</h3>
            <p>
              iPaw es la página web donde puedes comprar y vender todo lo
              relacionado con las mascotas. Aquí encontrarás desde alimentos y
              accesorios hasta servicios de veterinaria y adopción. ¡Únete a
              nuestra comunidad de amantes de los animales!
            </p>
            <img src="/static/images/perrito.png" alt="Perro" width="100%" />
            <h3>Categorías</h3>
            <ul>
              <li><a href="/perros">Perros</a></li>
              <li><a href="/gatos">Gatos</a></li>
              <li><a href="/aves">Aves</a></li>
              <li><a href="/notfound">Reptiles</a></li>
              <li><a href="/notfound">Roedores</a></li>
              <li><a href="/notfound">Peces</a></li>
              <li><a href="/notfound">Otros</a></li>
            </ul>
            <img
              src="/static/images/animalitos.jpeg"
              alt="animls"
              width="100%"
            />
          </div>
          <div class="main">
            <h2>Perros Registrados :D</h2>
            <div class="mascotas-container" id="mascotas-container"></div>
          </div>

          <div class="rightbar">
            <h3>Más información</h3>
            <ul>
              <li><a href="#">Sobre nosotros</a></li>
              <li><a href="#">Política de privacidad</a></li>
              <li><a href="#">Términos y condiciones</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
            <h3>Anuncios</h3>
            <ul>
              <li><a href="#">Promoción especial para nuevos usuarios</a></li>
              <li><a href="#">Descubre las mejores ofertas de iPaw</a></li>
              <li><a href="#">Participa en nuestro sorteo mensual</a></li>
              <li><a href="#">Síguenos en nuestras redes sociales</a></li>
            </ul>
            <h3>Novedades</h3>
            <ul>
              <li><a href="#">iPaw lanza su nueva app móvil</a></li>
              <li>
                <a href="#">iPaw se asocia con la fundación Adopta un Amigo</a>
              </li>
              <li><a href="#">iPaw celebra su primer aniversario</a></li>
              <li>
                <a href="#"
                  >iPaw recibe el premio a la mejor página web de mascotas</a
                >
              </li>
            </ul>
            <h3>Nuestros sponsors:</h3>
            <img
              src="/static/images/sponsor1.gif"
              alt="Sponsor 1"
              width="100%"
            />
            <img
              src="/static/images/sponsor2.gif"
              alt="Sponsor 2"
              width="100%"
            />
            <img
              src="/static/images/sponsor3.gif"
              alt="Sponsor 3"
              width="100%"
            />
          </div>
        </div>
        <div class="footer">
          <p>© 2000 iPaw. Todos los derechos reservados.</p>
        </div>
      </div>
    </body>
  </html>
</html>
